* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainFont: 'Roboto';
  --primaryAccent: #591b93;
  --black: #202020;
}

body {
  font-family: var(--mainFont);
  font-weight: 400;
  color: var(--black);
  width: 80%;
  margin: auto;
}

main {
  display: flex;
  margin: 2rem 0 0;
}

h1,
h2 {
  font-weight: 600;
}

header {
  padding: 2rem 1rem;
}

.challenge img {
  max-width: 500px;
  max-height: 400px;
}

.challenge {
  background-color: var(--primaryAccent);
  padding: 2rem;
  width: 90%;
  border-radius: 10px;
}

nav {
  padding: 1rem;
}

ul {
  list-style-type: none;
}

li {
  margin: 0 0 2rem;
  width: max-content;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 1rem 2rem;
  border: 1px solid black;
  display: block;
  font-weight: 800;
}

/* 
Preview Styling
*/
.preview {
  display: flex;
  justify-content: center;
  flex: 1;
  height: 540px;
  position: relative;
}

#preview,
#videoPreview {
  max-width: 600px;
  transition: transform 500ms ease-out, opacity 300ms ease-in;
  opacity: 0;
  object-fit: contain;
  transform-origin: center;
  position: absolute;
  max-height: 100%;
}
