#addOnsContainer > p {
  margin: 0 0 2rem;
  color: var(--coolGray);
}

#addOnsContainer .addOn {
  display: flex;
  padding: 1.3rem 1.5rem;
  border: 1px solid var(--lightGray);
  border-radius: 8px;
  margin: 0 0 1rem;
  justify-content: space-between;
  align-items: center;

  &:hover {
    border: 1px solid var(--purplishBlue);
    cursor: pointer;
  }

  &:has(:checked) {
    background-color: var(--alabaster);
    border: 1px solid var(--purplishBlue);
  }
}

#addOnsContainer .addOn .title {
  color: var(--marineBlue);
  font-weight: var(--fontMedium);
  margin: 0 0 0.3rem;
}

#addOnsContainer .addOn .description {
  color: var(--lightGray);
  font-size: 0.9rem;
}

#addOnsContainer .addOn input {
  width: 1.2rem;
  height: 1.2rem;
  padding: 3px;

}

#addOnsContainer .addOn > div {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

#addOnsContainer .pricing {
  font-size: 0.9rem;
  color: var(--purplishBlue);
}